<!DOCTYPE html>
<html>
<head>
	<title>Encrypted data</title>
</head>
<body>
	<h1>Encrypted data</h1>
	<p>
	<% lst.forEach(function(entry){ %>
		<%=String.fromCharCode(entry)%>
    	<%}); %>
    </p>
</body>
</html>